body {
    background-color: #19194b;
    font-family: 'Lato', sans-serif;
    color: white
    
}

img {
    width: 50%;
    display: block;
    margin: auto;
}

div {
    width: 10%;
    display: block;
    margin: auto;
}

p {
    font-size: small;
    text-align: center;

}